.container-pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.card-center {
  border-radius: 0;
  box-shadow: none;
  height: auto;
  width: 100%;
  margin: 7px;

}

